---
import type { ImageMetadata } from "astro";
import InlineLatex from "../../components/InlineLatex.astro";
import { Image } from "astro:assets";

const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/assgn5/l1_tests/*.{jpeg,jpg,png,gif}",
);

const prefixPath = "/src/assets/assgn5/l1_tests/";

const originalImages = ["0_data.png", "1_data.png", "2_data.png", "3_data.png"];

const l1_weights = [0, 0.2, 0.4, 0.6, 0.8, 1.0, 10.0, 100.0];

function getImagePath(originalImage: string, l1loss: number): string {
    const [index] = originalImage.split("_");
    return `${prefixPath}${index}_stylegan_w+_0.2_${l1loss}_1000.png`;
}
---

<table class="table-auto">
    <thead>
        <tr>
            <th>Original</th>
            {
                l1_weights.map((value) => (
                    <th>
                        <InlineLatex formula={`L1_{wght}  = ${value}`} />
                    </th>
                ))
            }
        </tr>
    </thead>
    <tbody>
        {
            originalImages.map((originalImage) => {
                return (
                    <tr>
                        <td>
                            <Image
                                src={images[prefixPath + originalImage]()}
                                alt={originalImage}
                            />
                        </td>
                        {l1_weights.map((value) => {
                            const imagePath = getImagePath(
                                originalImage,
                                value,
                            );
                            return (
                                <td>
                                    <Image
                                        src={images[imagePath]()}
                                        alt={imagePath}
                                        class="min-w-[100px] min-h-[100px] object-cover"
                                    />
                                </td>
                            );
                        })}
                    </tr>
                );
            })
        }
    </tbody>
</table>
