---
import type { ImageMetadata } from "astro";
import InlineLatex from "../../components/InlineLatex.astro";
import { Image } from "astro:assets";

const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/assgn5/model/*.{jpeg,jpg,png,gif}",
);

const prefixPath = "/src/assets/assgn5/model/";

const originalImages = ["0_data.png", "1_data.png", "2_data.png", "3_data.png"];

const model = ["stylegan", "vanilla"];

function getImagePath(originalImage: string, model: string): string {
    const [index] = originalImage.split("_");
    return `${prefixPath}${index}_${model}_z_0.2_1000.png`;
}
---

<table class="table-auto">
    <thead>
        <tr>
            <th>Original</th>
            {model.map((value) => <th>{value}</th>)}
        </tr>
    </thead>
    <tbody>
        {
            originalImages.map((originalImage) => {
                return (
                    <tr>
                        <td>
                            <Image
                                src={images[prefixPath + originalImage]()}
                                alt={originalImage}
                            />
                        </td>
                        {model.map((value) => {
                            const imagePath = getImagePath(
                                originalImage,
                                value,
                            );
                            return (
                                <td>
                                    <Image
                                        src={images[imagePath]()}
                                        alt={imagePath}
                                        class="min-w-[100px] min-h-[100px] object-cover"
                                    />
                                </td>
                            );
                        })}
                    </tr>
                );
            })
        }
    </tbody>
</table>
